<a href="https://colab.research.google.com/github/Saron773/Winter-2022/blob/main/Copy_of_Updated_(01_10)GroupProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#In class assignment
#####Find a sports database
#####            after doing EDA for initial data set:
#####                 1. change at least 2 column names and complete at least one broadcast operation 
#####                       (make sure to make a copy of the new version of the dataset once in a while)
#####            answer questions:
#####                     1: who are the highest paid players in the sport
#####                     2: who is the most efficient player in the sport
#####                     3: which is the better team in that sport
#####                     come up with 5 more questions and answers

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/redun1/ML_Data/main/data.csv')

In [3]:
df.head()

   Unnamed: 0      ID  ... GKReflexes  Release Clause
0           0  158023  ...        8.0         €226.5M
1           1   20801  ...       11.0         €127.1M
2           2  190871  ...       11.0         €228.1M
3           3  193080  ...       94.0         €138.6M
4           4  192985  ...       13.0         €196.4M

[5 rows x 89 columns]

In [4]:
df.dtypes

Unnamed: 0          int64
ID                  int64
Name               object
Age                 int64
Photo              object
                   ...
GKHandling        float64
GKKicking         float64
GKPositioning     float64
GKReflexes        float64
Release Clause     object
Length: 89, dtype: object

In [5]:
df.head()

   Unnamed: 0      ID  ... GKReflexes  Release Clause
0           0  158023  ...        8.0         €226.5M
1           1   20801  ...       11.0         €127.1M
2           2  190871  ...       11.0         €228.1M
3           3  193080  ...       94.0         €138.6M
4           4  192985  ...       13.0         €196.4M

[5 rows x 89 columns]

#Filtered out unused columns from original df

In [6]:
fifa = df[['ID','Name','Age','Nationality','Overall','Club','Wage','Preferred Foot','Height','Weight']]

In [7]:
fifa

           ID                Name  Age  ... Preferred Foot  Height  Weight
0      158023            L. Messi   31  ...           Left     5'7  159lbs
1       20801   Cristiano Ronaldo   33  ...          Right     6'2  183lbs
2      190871           Neymar Jr   26  ...          Right     5'9  150lbs
3      193080              De Gea   27  ...          Right     6'4  168lbs
4      192985        K. De Bruyne   27  ...          Right    5'11  154lbs
...       ...                 ...  ...  ...            ...     ...     ...
18202  238813        J. Lundstram   19  ...          Right     5'9  134lbs
18203  243165  N. Christoffersson   19  ...          Right     6'3  170lbs
18204  241638           B. Worman   16  ...          Right     5'8  148lbs
18205  246268      D. Walker-Rice   17  ...          Right    5'10  154lbs
18206  246269           G. Nugent   16  ...          Right    5'10  176lbs

[18207 rows x 10 columns]

#Rename a column

In [8]:
fifa.rename(columns={"ID":"Player ID"}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

#Rename a column again

In [9]:
fifa.rename(columns={"Height":"Height in Feet"}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [10]:
fifa

       Player ID                Name  Age  ... Preferred Foot  Height in Feet  Weight
0         158023            L. Messi   31  ...           Left             5'7  159lbs
1          20801   Cristiano Ronaldo   33  ...          Right             6'2  183lbs
2         190871           Neymar Jr   26  ...          Right             5'9  150lbs
3         193080              De Gea   27  ...          Right             6'4  168lbs
4         192985        K. De Bruyne   27  ...          Right            5'11  154lbs
...          ...                 ...  ...  ...            ...             ...     ...
18202     238813        J. Lundstram   19  ...          Right             5'9  134lbs
18203     243165  N. Christoffersson   19  ...          Right             6'3  170lbs
18204     241638           B. Worman   16  ...          Right             5'8  148lbs
18205     246268      D. Walker-Rice   17  ...          Right            5'10  154lbs
18206     246269           G. Nugent   16  ...          Right            5'10  176lbs

[18207 rows x 10 columns]

#Create a new column
######(Reformated values of 'Weight' to remove 'lbs')

In [11]:
fifa['Weight in Kg']=fifa['Weight'].str.strip("lbs")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
fifa

       Player ID                Name  Age  ... Height in Feet  Weight Weight in Kg
0         158023            L. Messi   31  ...            5'7  159lbs          159
1          20801   Cristiano Ronaldo   33  ...            6'2  183lbs          183
2         190871           Neymar Jr   26  ...            5'9  150lbs          150
3         193080              De Gea   27  ...            6'4  168lbs          168
4         192985        K. De Bruyne   27  ...           5'11  154lbs          154
...          ...                 ...  ...  ...            ...     ...          ...
18202     238813        J. Lundstram   19  ...            5'9  134lbs          134
18203     243165  N. Christoffersson   19  ...            6'3  170lbs          170
18204     241638           B. Worman   16  ...            5'8  148lbs          148
18205     246268      D. Walker-Rice   17  ...           5'10  154lbs          154
18206     246269           G. Nugent   16  ...           5'10  176lbs          176

[18207 rows x 11 columns]

#Broadcasted to update newly added column

In [13]:
#converted column to a number to be able to broadcast 
fifa['Weight in Kg'] = pd.to_numeric(fifa['Weight in Kg']).mul(0.453592).round(2)   
fifa

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       Player ID                Name  Age  ... Height in Feet  Weight Weight in Kg
0         158023            L. Messi   31  ...            5'7  159lbs        72.12
1          20801   Cristiano Ronaldo   33  ...            6'2  183lbs        83.01
2         190871           Neymar Jr   26  ...            5'9  150lbs        68.04
3         193080              De Gea   27  ...            6'4  168lbs        76.20
4         192985        K. De Bruyne   27  ...           5'11  154lbs        69.85
...          ...                 ...  ...  ...            ...     ...          ...
18202     238813        J. Lundstram   19  ...            5'9  134lbs        60.78
18203     243165  N. Christoffersson   19  ...            6'3  170lbs        77.11
18204     241638           B. Worman   16  ...            5'8  148lbs        67.13
18205     246268      D. Walker-Rice   17  ...           5'10  154lbs        69.85
18206     246269           G. Nugent   16  ...           5'10  176lbs        79.83

[18207 rows x 11 columns]

In [14]:
#shows change from object to float64
fifa.dtypes

Player ID           int64
Name               object
Age                 int64
Nationality        object
Overall             int64
Club               object
Wage               object
Preferred Foot     object
Height in Feet     object
Weight             object
Weight in Kg      float64
dtype: object

#Made copy of DataFrame

In [15]:
fifa2=fifa.copy()

In [16]:
#removing unnecessary characters
fifa2['Wage']=fifa2['Wage'].str.strip("K").str.strip("€")

In [17]:
#change type from object to float64 and added new column
fifa2['Wage in Thousands of Pounds'] = pd.to_numeric(fifa2['Wage'])

In [18]:
#delete entire 'wage' col
fifa2.drop(['Wage'],axis=1, inplace=True)

In [19]:
fifa2

       Player ID                Name  ...  Weight in Kg Wage in Thousands of Pounds
0         158023            L. Messi  ...         72.12                         565
1          20801   Cristiano Ronaldo  ...         83.01                         405
2         190871           Neymar Jr  ...         68.04                         290
3         193080              De Gea  ...         76.20                         260
4         192985        K. De Bruyne  ...         69.85                         355
...          ...                 ...  ...           ...                         ...
18202     238813        J. Lundstram  ...         60.78                           1
18203     243165  N. Christoffersson  ...         77.11                           1
18204     241638           B. Worman  ...         67.13                           1
18205     246268      D. Walker-Rice  ...         69.85                           1
18206     246269           G. Nugent  ...         79.83                           1

[18207 rows x 11 columns]

#1: highest paid players in soccer (top 5)

In [20]:
fifa2.set_index('Name').nlargest(5,'Wage in Thousands of Pounds')

                   Player ID  Age  ... Weight in Kg  Wage in Thousands of Pounds
Name                               ...
L. Messi              158023   31  ...        72.12                          565
L. Suárez             176580   31  ...        86.18                          455
L. Modrić             177003   32  ...        66.22                          420
Cristiano Ronaldo      20801   33  ...        83.01                          405
Sergio Ramos          155862   32  ...        82.10                          380

[5 rows x 10 columns]

#2: Most efficient player in the sport

In [21]:
fifa2.set_index('Name').nlargest(1, 'Overall')

          Player ID  Age  ... Weight in Kg  Wage in Thousands of Pounds
Name                      ...
L. Messi     158023   31  ...        72.12                          565

[1 rows x 10 columns]

# 3: Better team in soccer

In [22]:
#team club with the highest average overall, since multiple players from same team...
    #fifa2['Club'].value_counts()
best=fifa2[['Club','Overall']].groupby('Club').mean()
best.nlargest(1,'Overall')

          Overall
Club
Juventus    82.28

#Q1: Top 5 highest paid teams

In [23]:
teams=fifa2[['Wage in Thousands of Pounds']].groupby(fifa2['Club']).sum()
teams.nlargest(5,'Wage in Thousands of Pounds')

                   Wage in Thousands of Pounds
Club
Real Madrid                               5017
FC Barcelona                              4837
Manchester City                           3741
Manchester United                         3391
Juventus                                  3292

#Q2: Top 5 Overall Teams

In [24]:
overall= fifa2[['Overall']].groupby(fifa2['Club']).mean()
overall.nlargest(5, 'Overall')

               Overall
Club
Juventus     82.280000
Napoli       80.000000
Inter        79.750000
Real Madrid  78.242424
Milan        78.074074

#Q3: Top 5 most frequent countries represented

In [25]:
top=fifa2['Nationality'].value_counts()
top.head()

England      1662
Germany      1198
Spain        1072
Argentina     937
France        914
Name: Nationality, dtype: int64

#Q4: Top 5 oldest players

In [29]:
oldest=fifa2.nlargest(5,'Age')
#oldest=oldest.nlargest(5,'Overall')
oldest

       Player ID           Name  ...  Weight in Kg Wage in Thousands of Pounds
4741      140029       O. Pérez  ...         74.84                           8
17726      51963      T. Warner  ...         83.91                           1
18183      53748  K. Pilkington  ...         86.18                           1
10545     140183    S. Narazaki  ...         79.83                           1
1120      156092      J. Villar  ...         84.82                           0

[5 rows x 11 columns]

#Q5: Top 5 youngest players

In [27]:
youngest=fifa2.nsmallest(5,'Age')
youngest=youngest.nlargest(5,'Overall')
youngest

       Player ID            Name  ...  Weight in Kg Wage in Thousands of Pounds
11457     241266     W. Geubbels  ...         72.12                           5
11732     244403        A. Taoui  ...         68.95                           3
12496     245616  Pelayo Morilla  ...         69.85                           1
12828     246465        Guerrero  ...         74.84                           1
13293     246594     H. Massengo  ...         66.22                           2

[5 rows x 11 columns]

# Extra: Top 5 Heaviest Players

In [28]:
heaviest=fifa2.nlargest(5, 'Weight in Kg')
heaviest=heaviest.set_index('Name')
heaviest

              Player ID  Age  ... Weight in Kg  Wage in Thousands of Pounds
Name                          ...
A. Akinfenwa     156321   36  ...       110.22                            2
C. Seitz         179685   31  ...       107.05                            2
L. Watkowiak     239746   22  ...       107.05                            1
M. Rhead         211415   34  ...       106.14                            3
F. Farnolle      195357   33  ...       103.87                            3

[5 rows x 10 columns]